extends layout

block content
     form(action="/getSerialId" method='get' name="chooseCellsForm")
        h1 Choose No. Cells: 
        p 
        input(name="numCells" type='submit', value=3)
        input(name="numCells" type='submit', value=6)
        input(name="numCells" type='submit', value=12)
        p
        input(name="numCells" type='submit', value=15)
        input(name="numCells" type='submit', value=18)
        input(name="numCells" type='submit', value=24)
        p
        input(name="numCells" type='submit', value=32)
        input(name="numCells" type='submit', value=36)
        input(name="numCells" type='submit', value=40)