html
    head
        title= "HRD Voltage Logger"    
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
    body    
        link(rel='stylesheet', href='/css/form.css')
        script(type="text/javascript", src="/js/form.js")
        #wrap 
            .container
                .content
                    block content